**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/bin/
**/obj/
**/node_modules/
**/TestResults/
**/*.user
**/*.suo
**/*.cache
**/*.glb

# Large/irrelevant folders for API builds
frontend/
Docs/
prolog/
prolog2/
testes/
scripts/

Dockerfile*
README.md
LICENSE
